---
---

<div class="slogan">
	<div>
	<h2>開放原始碼的作業系統組合</h2>
	</div>
</div>
<section id="participation">
	<h2>社群參與</h2>
	<div class="content">
		<ul class="distro">
		{% for distro in site.data.linux.distros %}
	    <li>
			<a href="{{ distro.url }}" style="background: linear-gradient(#fff 1em, #fff calc(100% - 5px), {{ distro.bgcolor }} calc(100% - 5px));">

				<div class="info">
					<strong style="color: {{ distro.bgcolor }};">{{ distro.name }}</strong>
				</div>
			</a>
	    </li>
	    {% endfor %}
		</ul>
	</div>
</section>
<section id="community">
	<h3>實體聚會</h3>
	<div class="content">
	<ul class="community">
		{% for community in site.data.linux.communities %}
		<li>
			<a href="{{ community.url }}">
				<span class="title">{{ community.name }}</span>
				<div class="description">{{ community.description }}</div>
			</a>
		</li>
		{% endfor %}
	</ul>
	<h3>其他協助</h3>
	<ul class="other">
		{% for other in site.data.linux.others %}
		<li>
			<a href="{{ other.url }}">
				<span class="title">{{ other.name }}</span>
				<div class="description">{{ other.description }}</div>
			</a>
		</li>
		{% endfor %}
	</ul>

	</div>
</section>

