<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>Linux 台灣社群</title>
	<link rel="stylesheet" href="/style.css">
</head>
<body>
	<header id="site-title">
		<h1><a href="/">Linux 台灣社群</a></h1>
		{% include nav.html %}
	</header>
	<main>
		{{ content }}
	</main>
	<footer>
		<a href="http://creativecommons.org/licenses/by-sa/4.0/deed.zh_TW" class="license">
			<img src="{{ site.baseurl }}/images/cc-by-sa.svg" alt="Creative Commons BY-SA 4.0" />
		</a>
		<div>
			<a href="https://github.com/linux-taiwan/www.linux.org.tw">本站原始碼</a>
		</div>
	</footer>
</body>
</html>
